{% set title = title ?? "Register Now" %}
{% set subTitle = subTitle ?? "Create an account to get started" %}

{% extends __uss.app.dirname(_self) ~ '/partials/layout.html.twig' %}

{% block authForm %}
	{{ form.export|raw }}
{% endblock %}

{% block authRedirect %}
	<div class="text-center mb-3">
		Already have account? <a href='{{ __dashboard.meths.document('index').url }}'>Log In</a>
	</div>
{% endblock %}
