{% set title = title ?? "Get Started" %}
{% set subTitle = subTitle ?? "Start creating the best possible user experience for you customers." %}

{% extends __uss.app.dirname(_self) ~ '/partials/base.html.twig' %}

{% block authForm %}
	<form>
		<div class="mb-3">
			<label class="form-label">Full name</label>
			<input class="form-control form-control-lg" type="text" name="name" placeholder="Enter your name" />
		</div>
		<div class="mb-3">
			<label class="form-label">Email</label>
			<input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your email" />
		</div>
		<div class="mb-3">
			<label class="form-label">Password</label>
			<input class="form-control form-control-lg" type="password" name="password" placeholder="Enter password" />
		</div>
		<div class="d-grid gap-2 mt-3">
			<a class='btn btn-lg btn-primary' href='index.html'>Sign up</a>
		</div>
	</form>
{% endblock %}

{% block authRedirect %}
	<div class="text-center mb-3">
		Already have account? <a href='{{ __dashboard.meths.document('index').url }}'>Log In</a>
	</div>
{% endblock %}
