{% set title = title ?? "Reset Password" %}
{% set subTitle = subTitle ?? "Enter your email to reset your password" %}

{% extends __uss.app.dirname(_self) ~ '/partials/layout.html.twig' %}

{% block authForm %}
	{{ form.export|raw }}
{% endblock %}

{% block authRedirect %}
	<div class="text-center mb-3">
		Remembered your password? <a href='{{ __dashboard.meths.document("index").url }}'>Sign In</a>
	</div>
{% endblock %}
