<div class="col-md-7 col-lg-6 col-xl-7 mb-3">
    <div class="card">
        <div class='card-body'> 

            <div class='p-1 p-sm-3'>

                {% for key, field in form.getFieldStack('default').fields %}
                    {% if key not in ["company[icon]", form.hashKey] %}
                        {{ field.fieldAsHTML|raw }}
                    {% endif %}
                {% endfor %}

            </div>

        </div>
    </div>
</div>