{% extends '@Mail/classic/base.html.twig' %}

{% block message_content %}

    <p>Congratulations on successfully registering with us! To ensure the security of your account, please click on the confirmation link below:</p> <br>

    <p>
        <a href="{{ confirmation_link ?? '#' }}" target='_blank' style="{{ button_style }}">
            Confirm Your Email
        </a>
    </p> <br>

    <p>By confirming your email, you'll have access to our platform and stay updated with the lastest information. If you didn't register or this email seems unfamiliar, please disregard it.</p> <br>

    <p>We're excited to have you on board!</p>

{% endblock %}