<div class='col-6'>

    {{ form.open|raw }}

        <div class="row">
            {% block form_content %}
            <div class="col-md-8 col-lg-7">
                {{ form.stackContainer.getHTML(true)|raw }}
            </div>
            {% endblock %}
        </div>

    {{ form.close()|raw }}

</div>

{# {% block body_js %}
    {{ parent() }}
    <script>
        $("#smtp-state input").on("change", function() {
            $("[data-fieldstack='SMTP']").attr("disabled", this.value === 'default');
        });
    </script>
{% endblock %} #}