<div class="container-fluid">

    <h4 class='fw-normal'>
        <i class="bi bi-wrench me-1"></i> Settings
    </h4><hr>

    <div class='row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4'>

        {% for item in (__dashboard.props.settingsBatch.children ?? []) %}

            <div class="col mb-3">
                <div class="card h-100 rounded-1">
                    <div class="card-body d-block">
                        <div class='d-flex align-items-start mb-'>
                            <h5 class='left my-0 me-2 p-1 px-3 border rounded-end-4 text-center text-bg-secondary'>
                                <i class="{{ item.getAttribute('icon') }}"></i>
                            </h5>
                            <a href='{{ item.getAttribute('href') }}' class="d-block right flex-grow-1 text-hover-warning">
                                <div class=''>
                                    <h5 class='mb-0 line-clamp clamp-2'>{{ item.getAttribute('label') }}</h5>
                                    <p class='text-muted m-0'><small>Settings</small></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card-footer bg-white text-center">
                        <a href="{{ item.getAttribute('href') }}" class="btn btn-outline-primary btn-sm w-100">
                            Configure Now
                        </a>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div> <!-- /rows -->

</div>
