<div class="{{ column_1 ?? 'col-lg-8 col-xl-7' }}">

    <div class="mb-3">
        <div class="card mb-3">
            <div class="card-body">
                {{ form.export|raw }}
            </div>
        </div>
    </div>

</div>

