{% extends '@Mail/classic/base.html.twig' %}

{% block message_content %}

    <p>Thank you for updating your email address with us. To complete the process and ensure the security of your account, please click the link below to confirm your new email:</p> <br/>

    <p>
        <a href="{{ confirmation_link }}" target="_blank" style="{{ button_style }}">
            Confirm new email
        </a>
    <p> <br/>

    <p>If you did not initiate this change or have any concerns, please contact our support team immediately.</p> <br/>

    <p>Thank you for choosing us!</p>

{% endblock %}