{% extends _theme ~ '/pages/admin/settings/index.html.twig' %}

{% block settings_title %}
    <i class="bi bi-gear me-1"></i> Default Settings
{% endblock %}

{% block settings_content %}

    <form method="POST" enctype="multipart/form-data">
        <fieldset>

            <div class="text-end mb-3">
                <button class="btn btn-primary btn-sm fw-bold" type="submit">
                    <i class="bi bi-check2-circle me-1"></i> Save Changes
                </button>

                {{ form.getField(form.hashKey).widgetElement.HTML|raw }}
            </div>

            <div class="row">

                {% block image_fragment %}
                    {% set iconField = form.getField('company[icon]') %}
                    {% include _theme ~ '/pages/admin/settings/fragments/image.html.twig' %}
                {% endblock %}

                {% block input_fragment %}
                    {% include _theme ~ '/pages/admin/settings/fragments/input.html.twig' %}
                {% endblock %}

            </div>
            
        </fieldset>
    </form>

{% endblock %}