{% extends '@Mail/classic/base.html.twig' %}

{% block message_content %}

    <p>Welcome to {{ companyName }}!</p>
    
    <p>
        Your account has been successfully created. You can now log in using the following details:
    </p>

    <ul>
        <li><strong>Email:</strong> {{ loginEmail }}</li>
        <li><strong>Password:</strong> {{ loginPassword }}</li>
    </ul>

    <p>
        For enhanced account security, it is recommended to change your password after logging in
    </p>

    <p>
        Thank you for joining {{ companyName }}. If you have any questions or need assistance, feel free to contact our support team.
    </p>

{% endblock %}