{% extends '@Foundation/Admin/Template/security/scheme/layout.html.twig' %}

{# borrow macro for user template #}
{% import '@Foundation/User/Template/security/scheme/macros.lib.twig' as macros %}

{% block contentMainBefore %}
	<h4 class='fw-bold'>
		<i class="bi bi-stars me-1 animate__animated animate__slow animate__fadeIn animate__delay-2s text-info"></i> 
		<span class="d-inline-block animate__animated animate__slow animate__zoomInRight">
			{{ contentSubject ?? 'Admin Login' }}
		</span>
	</h4><hr>
{% endblock %}

{% block contentMain %}
	{{ form.export|raw }}
{% endblock %}

{% block contentMainAfter %}
	<hr>
	{{ macros.callToAction(
		{
			question: 'Forgot Password?',
			text: 'Reset Password',
			url: __dashboard.meths.document('recovery').url,
		}
	) }}
{% endblock %}