{% extends '@Udash/security/layout.html.twig' %}

{% block main_right_form_element %}

    {# 
        The form rendered in this page was build by creating a "UdashLoginForm" Class which extends UssForm
        
        An instance of the "UdashLoginForm" can be gotten by calling

            Udash::instance()->config('forms:login'); 

        From there, you can modify the form. 
        But if you want a totally new custom from, there are 3 options. You can either

        1. Extend the "UssForm" class and pass an instance of the new class to config. For example

            class MyCustomForm extends UssForm {
                ... 
            }

            Udash::instance()->config('forms:login', new MyCustomForm());

        2. Extend the "UdashLoginForm" and change only the required methods, then pass the instance to config

            class MyCustomForm extends UssLoginForm {
                ...
            }

            Udash::instance()->config('forms:login', new MyCustomForm());

        3. Change the template that renders the form

            Udash::instance()->config('templates:login', '@namespace/path/to/new/template.html.twig')

    #}

    {{ form.getHTML(1)|raw }} {# form is an instance of UdashLoginForm #}

	<div class="mt-2">
		<p class="text-sm text-center">
			Forgot Password? 
			<a href="{{ form.getRouteUrl('pages:recovery') }}" class="hover-underline text-nowrap">Reset Password</a>
		</p>
	</div>

	<div class="mt-2">
		<p class="text-sm text-center">
			Don’t have an account yet? 
			<a href="{{ form.getRouteUrl('pages:register') }}" class='text-nowrap'>Create an account</a>
		</p>
	</div>

{% endblock %}