{% macro user_dropdown() %}
    {% for item in __dashboard.props.userMenu.children %}
        {# <div class="dropdown-divider"></div> #}
        <a class='dropdown-item' href='{{ item.getAttribute('href') }}'>
            <span class="align-middle me-1">
                <i class="{{ item.getAttribute("icon") }}"></i>
            </span> 
            {{ item.getAttribute('label') }}
        </a>
    {% endfor %}
{% endmacro %}