<div class='text-center'>
    <h4>You are logged in</h4>
    <p>Logout to {{ action }}</p>
    <hr/>
    <a href='{{ DashboardExtension.getArchiveUrl('logout') }}' class='btn btn-outline-danger d-block mb-3'>
        <i class='bi bi-escape me-1'></i> Logout now
    </a>
    <a href='{{ DashboardExtension.getArchiveUrl('index') }}' class='btn btn-outline-primary d-block'>
        <i class='bi bi-person-circle me-1'></i> Back to dashboard
    </a>
</div>