{% extends _theme ~ '/security/layout.html.twig' %}

{% block main_right_form_element %}
    
    {% if user.exists() is same as false %}
        
        {% if form.status is same as false %}
        
            {{ form.getHTML(true)|raw }}

            <div class='mt-2'>
                <p class="text-sm text-medium text-dark text-center">
                    <a href="{{ Ud.getArchiveUrl('index') }}" class='btn btn-outline-secondary'>
                        Go Back To Login
                    </a>
                </p>
            </div>

        {% else %}

            <div class="card">
                <div class='card-body text-center'>

                    {% if form.stage is same as 0 %}

                        <div class="fs-38px">
                            <i class='bi bi-envelope-paper text-warning'></i>
                        </div>

                        <div class="">
                            <h5 class='fw-400'>Password Reset Email Sent</h5>
                            <p>We've sent you an email. <br> Please check your inbox and click the provided link.</p>
                            <hr>
                            <p class="mb-0">If you don't receive the email within a few minutes, please check your spam folder.</p>
                        </div>

                    {% else %}

                        <div class="fs-38px">
                            <i class='bi bi-check-circle text-success'></i>
                        </div>

                        <div class="">
                            <h5 class='fw-400'>Password Updated</h5>
                            <p>You can now login with you new password</p>
                            <hr>
                            <div class="mb-0">
                                <a href='{{ Ud.getArchiveUrl('login') }}' class='btn btn-primary w-100'>
                                    Go To Login
                                </a>
                            </div>
                        </div>

                    {% endif %}

                </div>
            </div>

        {% endif %}

    {% else %}

        {% set action = 'reset your account password' %}
        
        {% include _theme ~ '/security/await.html.twig' %}

    {% endif %}

{% endblock %}