<div class="col-12">

    {% if channel in ['create', 'update'] %}

        {% include '@Foundation/Admin/Template/users/upsert.html.twig' %}

    {% else %}

        {{ crudKernel.build.html(true)|raw }}

    {% endif %}

</div>