  </center>
        <br>
        <br>
        </td>
      </tr>
      <tr>
        <td style="background-color:#c2c2c2;">

          <center>
            <table cellspacing="0" cellpadding="0" width="500" class="w320">
              <tr>
                <td>
                  <table cellspacing="0" cellpadding="30" width="100%">
                    <tr>
                      <td style="text-align:center;">
                        <a href="#">
                          <img width="61" height="51" src="https://d1ergv6ync1qqr.cloudfront.net/bX7T2303QvGErnERR8zW_businessv1_07.gif" alt="twitter" />
                        </a>
                        <a href="#">
                          <img width="61" height="51" src="https://d1ergv6ync1qqr.cloudfront.net/P5up1GlESjmj7R2pZHvn_businessv1_08.gif" alt="google plus" />
                        </a>
                        <a href="#">
                          <img width="61" height="51" src="https://d1ergv6ync1qqr.cloudfront.net/bLCHO5G6QCa1ESY6BSS1_businessv1_09.gif" alt="facebook" />
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>

        </td>
      </tr>
    </table>

    </td>
  </tr>
</table>
</body>
</html>