{% extends '@Foundation/User/Template/security/layout.html.twig' %}

{% block main_right_form_element %}

    {{ form.export|raw }} 

	{% block after_form %}
		<div class="mt-2">
			<p class="text-sm text-center">
				Forgot Password? 
				<a href="{{ DashboardExtension.getPageManagerUrl('recovery') }}" class="hover-underline text-nowrap">Reset Password</a>
			</p>
		</div>

		<div class="mt-2">
			<p class="text-sm text-center">
				Don’t have an account yet? 
				<a href="{{ DashboardExtension.getPageManagerUrl('register') }}" class='text-nowrap'>Create an account</a>
			</p>
		</div>
	{% endblock %}

{% endblock %}