{% extends '@Ud/pages/profile/base.html.twig' %}

{% block profile_content %}

    <div class="row">

        {% block password_block %}

            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <form method='POST' name='password-form'>
                            <div class="mb-3">
                                <label class="small mb-1" for="currentPassword">Current Password</label>
                                <input class="form-control" type="password"  name="user[old_password]" required>
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="newPassword">New Password</label>
                                <input class="form-control" type="password" name="user[new_password]" required>
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="confirmPassword">Confirm Password</label>
                                <input class="form-control" type="password"  name="user[confirm_password]" required>
                            </div>
                            <button class="btn btn-primary" type="submit">
                                Save Changes
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        {% endblock %}

        {% block password_sibling_block %}{% endblock %}

    </div>

{% endblock %}