{# {% extends '@Foundation/User/Template/profile/layout.html.twig' %}

{% block profile_content %} #}

    <div class="row">

        {% block password %}
            <div class="col-md-6 col-lg-5">
                <div class="card mb-4">
                    <div class="card-body p-4">
                        {{ form.export|raw }}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block password_space %}
            {{ __uss.renderBlockElements('password_space', _context) }}
        {% endblock %}

    </div>

{# {% endblock %} #}