{% extends namespace ~ '/security/layout.html.twig' %}

{% block main_right_form_element %}
    
    {# 
        The form rendered in this page was build by creating a "UdRegisterForm" Class which extends UssForm
        
        An instance of the "UdRegisterForm" can be gotten by calling

            Ud::instance()->config('forms:login'); 

        From there, you can modify the form. 
        But if you want a totally new custom from, there are 3 options. You can either

        1. Extend the "UssForm" class and pass an instance of the new class to config. For example

            class MyCustomForm extends UssForm {
                ... 
            }

            Ud::instance()->config('forms:login', new MyCustomForm());

        2. Extend the "UdRegisterForm" and change only the required methods, then pass the instance to config

            class MyCustomForm extends UssLoginForm {
                ...
            }

            Ud::instance()->config('forms:login', new MyCustomForm());

        3. Change the template that renders the form

            Ud::instance()->config('templates:login', '@namespace/path/to/new/template.html.twig')

    #}

    {% if user.exists() == false %}

        {{ form.getHTML(1)|raw }} {# form is an instance of UdRegisterForm #}

        <div class='mt-4'>
            <p class="text-sm text-medium text-dark text-center">
                Already have an account? 
                <a href="{{ Ud.getArchiveUrl('index') }}" class='text-nowrap'>
                    Sign In
                </a>
            </p>
        </div>

    {% else %}

        <div class='text-center'>
            <h4>You are logged in</h4>
            <p>Logout to create a new account</p>
            <hr/>
            <a href='{{ Ud.getArchiveUrl('logout') }}' class='btn btn-outline-danger d-block mb-3'>
                <i class='bi bi-escape me-1'></i> Logout now
            </a>
            <a href='{{ Ud.getArchiveUrl('index') }}' class='btn btn-outline-primary d-block'>
                <i class='bi bi-person-circle me-1'></i> Back to dashboard
            </a>
        </div>

    {% endif %}

{% endblock %}