{% extends namespace ~ '/security/layout.html.twig' %}

{% block main_right_form_element %}
    
    {% if user.exists() == false %}

        {{ form.getHTML(1)|raw }} 

        <div class='mt-4'>
            <p class="text-sm text-medium text-dark text-center">
                Already have an account? 
                <a href="{{ Ud.getArchiveUrl('index') }}" class='text-nowrap'>
                    Sign In
                </a>
            </p>
        </div>

    {% else %}

        <div class='text-center'>
            <h4>You are logged in</h4>
            <p>Logout to create a new account</p>
            <hr/>
            <a href='{{ Ud.getArchiveUrl('logout') }}' class='btn btn-outline-danger d-block mb-3'>
                <i class='bi bi-escape me-1'></i> Logout now
            </a>
            <a href='{{ Ud.getArchiveUrl('index') }}' class='btn btn-outline-primary d-block'>
                <i class='bi bi-person-circle me-1'></i> Back to dashboard
            </a>
        </div>

    {% endif %}

{% endblock %}